In [1]:
import pandas as pd

In [2]:
file_path = '../data/netflix_reviews.csv'
df = pd.read_csv(file_path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113626 entries, 0 to 113625
Data columns (total 8 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   reviewId              113626 non-null  object
 1   userName              113624 non-null  object
 2   content               113624 non-null  object
 3   score                 113626 non-null  int64
 4   thumbsUpCount         113626 non-null  int64
 5   reviewCreatedVersion  96986 non-null   object
 6   at                    113626 non-null  object
 7   appVersion            96986 non-null   object
dtypes: int64(2), object(6)
memory usage: 6.9+ MB

In [3]:
# Convert the 'at' column to datetime format
df['at'] = pd.to_datetime(df['at'])

# Split the data into historical (2018-2023) and live (2024)
historical_data = df[df['at'].dt.year < 2024]
live_data = df[df['at'].dt.year == 2024]

In [4]:
historical_data.info()
historical_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 95965 entries, 6908 to 113625
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reviewId              95965 non-null  object
 1   userName              95964 non-null  object
 2   content               95965 non-null  object
 3   score                 95965 non-null  int64
 4   thumbsUpCount         95965 non-null  int64
 5   reviewCreatedVersion  81925 non-null  object
 6   at                    95965 non-null  datetime64[ns]
 7   appVersion            81925 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 6.6+ MB

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
6908,fd9266c0-77c9-48ee-82ba-5c47c45eb661,Victoria Voronkina,The recent price hike was unreasonable and unj...,1,281,8.96.1 build 16 50568,2023-12-24 20:48:30,8.96.1 build 16 50568
6910,df657ce9-2392-4347-adef-77412004dd50,LaToya J,"First, Netflix crashes often when I'm watching...",2,1641,8.95.0 build 13 50554,2023-11-23 15:28:44,8.95.0 build 13 50554
6915,433d1bff-e55c-4143-afc6-6f25677523f4,Paige Price,Consistently getting worse!! Algorithm does a ...,1,1685,8.95.2 build 17 50558,2023-12-02 04:04:54,8.95.2 build 17 50558
6921,92206dff-64b8-4607-9a6b-948f0845652e,Jotham Gathoni (Lucy's),1. The TV shows one pays for are definitely no...,1,1001,8.95.2 build 17 50558,2023-11-30 04:01:32,8.95.2 build 17 50558
6922,60354e90-27d2-44e8-a498-d405e04fab00,Nate Landmark,Netflix used to be a great app for shows/serie...,1,1063,8.95.0 build 13 50554,2023-11-19 01:13:37,8.95.0 build 13 50554

In [5]:
live_data.info()
live_data.head()

<class 'pandas.core.frame.DataFrame'>
Index: 17661 entries, 0 to 113618
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   reviewId              17661 non-null  object
 1   userName              17660 non-null  object
 2   content               17659 non-null  object
 3   score                 17661 non-null  int64
 4   thumbsUpCount         17661 non-null  int64
 5   reviewCreatedVersion  15061 non-null  object
 6   at                    17661 non-null  datetime64[ns]
 7   appVersion            15061 non-null  object
dtypes: datetime64[ns](1), int64(2), object(5)
memory usage: 1.2+ MB

,reviewId,userName,content,score,thumbsUpCount,reviewCreatedVersion,at,appVersion
0,d6a65e9a-094b-4d12-8673-89db4bd0f77c,Kiggundu Jonathan,Very good,5,0,8.124.0 build 2 50751,2024-07-23 16:16:07,8.124.0 build 2 50751
1,c14ae7b4-2e26-4d0b-ab37-67cfb53269a8,Daniel Cummings,K yeah dear cool,5,0,8.123.0 build 9 50748,2024-07-22 18:34:49,8.123.0 build 9 50748
2,aa52c756-427a-48b0-b9c3-d77e8ff4db31,Dylin Erasmus,The best,5,0,NaN,2024-07-21 14:03:45,NaN
3,42ded8be-92c9-47da-a990-fab377725405,Hope Lewis,We need more movies & series. ðŸ’¯,4,0,8.121.2 build 22 50727,2024-07-14 15:10:33,8.121.2 build 22 50727
4,7b2a264c-7bb5-4729-b3d2-2168f8a7855e,Kyan Ball,I pay $18/month for an app that's super glitch...,2,1,8.122.1 build 9 50736,2024-07-10 15:20:28,8.122.1 build 9 50736

In [7]:
# # Save the split data into separate CSV files
# historical_data.to_csv('../data/historical_data.csv', index=False)
# live_data.to_csv('../data/live_data.csv', index=False)